*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body{
    background-color: #F8F3F0;
    position:relative;
}

#topbar{
    height:90px;
    width:100%;
    background-color: #014BAA;
    z-index: 999;
     position: fixed;
     overflow:hidden;
}

#logo{
    font-family: "Big Shoulders", sans-serif;
    font-weight:600;
    color: aliceblue;
    font-size:60px;
    margin-left:20px;
    margin-top:10px;
    z-index:2;
}

#searchbtn{
    background-color: #014BAA;
    border:2px solid #F8F3F0;
    color:#F8F3F0;
    position: absolute;
    margin-left:700px;
    margin-top: -53px;
    height:40px;
    width:40px;
    border-radius:100px;
    transition: 0.5s;
    z-index: 2;

}

#searchbtn:hover{
    background-color: #F8F3F0;
    color:#014BAA;
    transform: scale(1.1);
}

ion-icon{
    font-size: 25px;
    z-index: 2
}

#searchbook{
    position:absolute;
    margin-left:440px;
    margin-top:-50px;
    height:35px;
    width:250px;
    border-radius:1000px;
    border-style:none;
    font-size: 16px;
    z-index: 2;
    
}

#searchbook:hover{
    
        transform: scale(1.05);
        transition: 0.5s;
    
}

#truck{
    height: 190px;
    margin-top:-120px;
    margin-left:-470px;
    z-index:1;
    position: absolute;
    animation: move linear 4s;
}

@keyframes move{
    from{
        transform: translateX(-270px);
    }

    to{
        transform:translateX(130vw);
    }
}

.aco{
    text-decoration: none;
    color:white;
    font-weight:600;
    font-size:20px;
    position:absolute;
    z-index: 2;
    margin-top:-45px;
}

#aboutus{
    margin-left:1150px;
    border:3px solid white;
    border-radius:100%;  
    transition: 0.5s;
}

#aboutus:hover{
    background-color: #F8F3F0;
    color:#014BAA;
    transform: scale(1.1); 
}

#contactus{
    margin-left:1200px;
    border:3px solid white;
    border-radius:100%;    
}

#contactus:hover{
    background-color: #F8F3F0;
    color:#014BAA;
    transform: scale(1.1);     
}

#location{
    margin-left:1250px;
    border:3px solid white;
    border-radius:100%;
}

#location:hover{
    background-color: #F8F3F0;
    color:#014BAA;
    transform: scale(1.1); 
}

#login{

    right:30px;

}

.aco:hover{
        transform: scale(1.2);
        transition: 1.05s;
        color:#F8F3F0;
}

.slider{
    width:100%;
    height:700px;
    overflow:hidden;
    position:relative;
    margin-top:20px;
}

.slides{
    display:flex;
    width:max-content;
    animation: slide  38s linear infinite;
}

.posters{
    border:5px solid #014BAA;
    border-radius: 20px;
    margin-right:5px;
    margin-top:80px;
    width:1080px;
    height:600px;
    object-fit:cover;
}

@keyframes slide{

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
 
}

.locationframe{
    height:600px;
    width:1000px;
    background-color: white;
    border: 2px solid #014BAA;
    margin-left:270px;
    margin-top:-700px;
    z-index:4;
    position: fixed;
    border-radius:20px;
    box-shadow: 40px 40px 500px #014BAA;
    display:none;
}

#locationclose{
    margin-left:950px;
    margin-top:10px;
    height:30px;
    width:30px;
    border-radius: 100%;
    border:1px solid #014BAA;
    color:#014BAA;
   
}

#locationclose:hover{
    background-color: #014BAA;
    color:white;
}

iframe{
    margin-left:40px;
    margin-top:10px;
    border:2px solid #014BAA;
    border-radius:20px;
}

#loctext{
    margin-left: 550px;
    margin-top:-270px;
    font-size:20px;
    font-weight:500;
    color:#014BAA;
}


